.containerMD{
    width:80% ; 
    margin: 0 auto ;
    text-align: center
}
.imageMotion{
    width: 42%;
    margin : 0 auto;
    margin-top : 2%
}
.nextMd{
    margin-left: 37%;
    margin-bottom: 10%;
}
